/*Global setting*/
:root {
  /*Color*/
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color--dark-white: #bdbdbd;
  --color-light-gery: #d3d3d3;
  --color-dark-gery: #4d4d4d;
  --color-grey-: #616161;
  --color--dark-pink: #ff6863;
  --color-blue-green: #9fe1e1;
  --color-BlanchedAlmond: #ffebcd;
  --color-SaddleBrown: #8b4513;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;

  /*Font-size*/
  --font-large: 3rem;
  --font-medium: 1.75rem;
  --font-regular: 1.125rem;
  --font-small: 1rem;
  --font-micro: 0.875rem;

  /*font-weight*/
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular-bold: 400;

  /*Size*/
}
/*Universal tag*/
* {
  box-sizing: border-box;
}

/*Typography*/
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 1rem 0;
}
h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 0.5rem 0;
}
h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular-bold);
  margin: 0.5rem 0;
}
p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular-bold);
  color: var(--color-black);
  margin: 0.25rem 0;
}

.icon {
  width: 32px;
  height: 32px;
}
